<div id="<%= dom_id detalle %>">
  <p>
    <strong>Cantidad:</strong>
    <%= detalle.cantidad %>
  </p>

  <p>
    <strong>Prestamo:</strong>
    <%= detalle.Prestamo_id %>
  </p>

  <p>
    <strong>Libros:</strong>
    <%= detalle.Libros_id %>
  </p>

</div>
