<div id="<%= dom_id prestamo %>">
  <p>
    <strong>Fecha</strong>
    <%= prestamo.feha %>
  </p>

  <p>
    <strong>Estado:</strong>
    <%= prestamo.estado %>
  </p>

  <p>
    <strong>Usuario:</strong>
    <%= prestamo.Usuario_id.to_s + '-' + prestamo.Usuario.nombre + ' ' + prestamo.Usuario.apellido %>
  </p>

</div>
